body {
    font-family: 'Roboto', sans-serif;
    color: $main-color;
    background-color: $primary-white-color;
}

li {
    list-style: none;
    padding-left: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
    @media screen and (max-width: 1199px) {
        width: 100%;
        height: auto;
    }
}

h1, h2, h3, h4, p, ul {
    margin: 0;
    padding-left: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}