header {
    border-bottom: 1px solid #ECECEC;
    
}
.container-header {
    @media screen and (max-width: 767px) {
        position: relative;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;
    }
}

.site-nav-link {
    @media screen and (min-width: 1200px) {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    display: block;
    padding: 32px 0;
    transition: color $animation;
&:hover, &:focus {
    color: $accent-color;
    }
}
}

.active {
    @media screen and (min-width: 1200px) {
    color: $accent-color;
    position: relative;
&::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 4px;
    background-color: $accent-color;
    border-radius: 2px;
    }
}
}

.site-nav li {
    @media screen and (min-width: 1200px) {
    position: relative;
    }
}

.header-address {
    @media screen and (min-width: 1200px) {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $secondary-color;
    display: inline-flex;
    gap: 10px;
    vertical-align: middle;
    align-items: center;
    transition: color $animation;
&:hover, &:focus {
    color: $accent-color;
    }
}
}

.site-nav {
    @media screen and (max-width: 767px) {
        display: flex;
        align-items: center;
    }

    @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    }
}

.site-nav-list {
    @media screen and (max-width: 767px) {
        display: none;
    }

    @media screen and (min-width: 1200px) {
    display: flex;
    gap: 50px;
    margin-left: 93px;
    }
}

.site-nav-list.contacts {
    @media screen and (min-width: 1200px) {
    margin-left: auto;
    gap: 30px;
}
}

.menu-button {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    margin-left: auto;
    z-index: 1;

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.menu-button .icon-menu-close {
    display: none;
}

.menu-button.is-open .icon-menu-close {
    display: block;
}

.menu-button.is-open .icon-menu {
    display: none;
}

.menu-container {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 48px 0 48px 40px;
    color: $main-color;
    background-color: $primary-white-color;
    text-align: left;
    outline: 1px solid tomato;

    &.is-open {
        display: block;
        @media screen and (min-width: 768px) {
            display: none;
        }
    }
}

.mobile-nav-list {
    @media screen and (max-width: 767px) {
        display: flex;
        flex-direction: column;
        gap: 32px;
        font-weight: 500;
        font-size: 40px;
        line-height: 1.17;
        letter-spacing: 0.02em;
        margin-bottom: 300px;
    }
}  

.mobile-contacts-list {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-bottom: 64px;
}

 .mobile-contacts-phone {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: $accent-color;
 }

.mobile-contacts-email {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: $secondary-color;
}

.mobile-social-list {
    display: flex;
    gap: 20px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: $accent-color;
}