header {
    border-bottom: 1px solid #ECECEC;
}

@media screen and (min-width: 768px) {
.container-header {
    display: flex;
    align-items: center;
    }
}


// .site-nav-link {
//     font-weight: 500;
//     font-size: 14px;
//     line-height: 1.62;
//     letter-spacing: 0.03em;
//     display: block;
//     padding: 32px 0;
//     transition: color $animation;
// &:hover, &:focus {
//     color: $accent-color;
//     }
// }

// .active {
//     color: $accent-color;
//     position: relative;
// &::after {
//     content: "";
//     position: absolute;
//     bottom: 0;
//     left: 0;
//     display: block;
//     width: 100%;
//     height: 4px;
//     background-color: $accent-color;
//     border-radius: 2px;
//     }
// }

// .site-nav li {
//     position: relative;
// }

// .header-address {
//     font-weight: 500;
//     font-size: 14px;
//     line-height: 1.14;
//     letter-spacing: 0.02em;
//     color: $secondary-color;
//     display: inline-flex;
//     gap: 10px;
//     vertical-align: middle;
//     align-items: center;
//     transition: color $animation;
// &:hover, &:focus {
//     color: $accent-color;
// }
// }

// .site-nav {
//     display: flex;
//     align-items: center;
// }

// @media screen and (min-width:768px) {
// .site-nav-list {
//     display: flex;
//     gap: 50px;
//     margin-left: 93px;
//     }
// }


// .site-nav-list.contacts {
//     margin-left: auto;
//     gap: 30px;
// }

.menu-button {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    margin-left: auto;
}

.menu-button .icon-menu-close {
    display: none;
}

.menu-button.is-open .icon-menu-close {
    display: block;
}

.menu-button.is-open .icon-menu {
    display: none;
}