header {
    border-bottom: 1px solid #ECECEC;
    
}
.container-header {
    @media screen and (max-width: 767px) {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.site-nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    display: block;
    padding: 32px 0;
    transition: color $animation;
&:hover, &:focus {
    color: $accent-color;
    }
}

.active {
    color: $accent-color;
    position: relative;
    
    @media screen and (min-width: 1200px) {
    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 4px;
        background-color: $accent-color;
        border-radius: 2px;
    }
}
}

.site-nav li {
    @media screen and (min-width: 1200px) {
    position: relative;
    }
}

.header-address {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: $secondary-color;
    display: inline-flex;
    gap: 10px;
    vertical-align: middle;
    align-items: center;
    transition: color $animation;
&:hover, &:focus {
    color: $accent-color;
}
    @media screen and (min-width: 1200px) {
        font-size: 14px;
        line-height: 1.14;
}
}

.icon-address {
    fill: currentColor;
}

.site-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        gap: 87px;
    }
}

.site-nav-list {
    @media screen and (max-width: 767px) {
        display: none;
    }

    @media screen and (min-width: 768px) {
        display: flex;
        gap: 50px;
    }

    @media screen and (min-width: 1200px) {
        margin-left: 93px;
    }
}

.site-nav-list.contacts {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        flex-direction: column;
        gap: 10px;
    }

    @media screen and (min-width: 1200px) {
        gap: 30px;
    }
}

.menu-toggle {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 48px 0 0 40px;
    background-color: $primary-white-color;
    transform: translateX(100%);
    transition: transform $animation;
    z-index: 999;
    overflow: hidden;

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.menu-container.is-open {
    transform: translateX(0);
}

.menu-container .menu-toggle {
    position: absolute;
    top: 10px;
    right: 15px;
    transition: fill $animation;

&:hover {
    fill: $accent-color;
    }
}

.mobile-nav-list {
    @media screen and (max-width: 767px) {
        display: flex;
        flex-direction: column;
        gap: 32px;
        font-weight: 500;
        font-size: 40px;
        line-height: 1.17;
        letter-spacing: 0.02em;
        margin-bottom: 300px;
    }
}  

.mobile-contacts-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 64px;
}

.mobile-nav-link {
    &.active {
        color: $accent-color;
    }
}

 .mobile-contacts-phone {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: $accent-color;
 }

.mobile-contacts-email {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: $secondary-color;
}

.mobile-social-list {
    display: flex;
    gap: 20px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: $accent-color;
}