.logo {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: $logo-color;
    
    &.logo--inverse {
    display: block;
    color: $primary-white-color;
    margin-right: 0;
    }
        
    @media screen and (min-width: 1200px) {
        font-size: 26px;
        line-height: 1.19;
    }
}

.logo-start {
    color: $accent-color;
}